

.App {
  background-color: #fff;
  height: auto;
}


.container{
  margin-top: 50px;
  width: 30%;
  padding: 20px;
  background-color: rgba(19, 19, 19, 0.114);
  height: 300px;
  padding-top: 30px;
}

.buttons {
  padding: 10px;
  display: block;
  background-color: black ;
  color: #fff;
  border-radius: 5px;
  margin: auto;
  margin-top: 55px;
}

.buttons:hover {
  background-color: rgba(0, 0, 0, 0.729);
}

.nav {
  background-color: lightblue;
  padding: 5px;
  font-weight: 300;
  justify-content: space-around;
}

.container3{
  width: 60%;
  padding: 30px;
  margin: auto;
  height: 900px;
  background-color: rgba(19, 19, 19, 0.422);
}

.rc-box, .name, .email, .gender, .address, .number, .bank, .type, .t {
  margin: 5px;
  padding: 5px;
}

.labels {
  font-weight: 700;
}

.m{
  margin-top: 5px;
}

.submit {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  background-color: lightblue ;
}

.submit:hover{
  background-color: rgb(26, 115, 137);
}

.finalB {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: #fff;
}

.finalB:hover {
  background-color: rgba(0, 0, 0, 0.729);
}

.logOut {
  background-color: black;
  color: #fff;
  border-radius: 5px;
}

.logOut:hover {
  background-color: rgba(0, 0, 0, 0.729);
}